<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>PAGINATION</h3>
<table border="1" style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    <th:block th:each="item: ${page.content}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </th:block>
</table>
<a th:href="@{|/product/total-page?p=0|}">First</a>
<a th:href="@{|/product/total-page?p=${page.number - 1}|}" th:if="${page.number > 0}">Previous</a>

<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
    <a th:href="@{|/product/total-page?p=${i}|}" th:text="${i + 1}"
       th:classappend="${i == page.number} ? 'current-page' : ''"></a>
</th:block>

<a th:href="@{|/product/total-page?p=${page.number + 1}|}" th:if="${page.number + 1 < page.totalPages}">Next</a>
<a th:href="@{|/product/total-page?p=${page.totalPages - 1}|}">Last</a>
</body>
</html>